
<nav>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
    </head>
    <ul class="main-nav">
        <img class="main-nav__logo" src="{{ url_for('static', filename='images/logo.svg')}}" alt="Logo">
        <div class="main-nav-elements">
            <li class="main-nav__item"><a href="{{ url_for('home')}}">Inicio</a></li>
            <li class="main-nav__item"><a href="{{ url_for('create')}}">Crear cliente</a></li>
            <li class="main-nav__item"><a href="{{ url_for('read')}}">Buscar clientes</a></li>
            <li class="main-nav__item"><a href="{{ url_for('update')}}">Actualizar un cliente</a></li>
            <li class="main-nav__item"><a href="{{ url_for('delete')}}">Eliminar un cliente</a></li>
        </div>
        <div class="main-nav__others">
        </div>

    </ul>
</nav>